#route_departure_ad, #route_destination_ad {
text-align:center;
}
.location-waiting {
	background:yellow !important;
}
.location-not-available .settings-not-done {
	background:red !important;
}
.location-ready .settings-ready {
	background:lightgreen !important;
}
